*{
    box-sizing: content-box;
}
.container {
  width: 1000px;
  margin-left: auto 0px;
}
input.long-text-box {
    width: 600px;
    height: auto;
}
input.short-text-box {
    width: 300px;
    height: auto;
}
input.btn-default {
    margin-top: 20px;
}

img.img-box {
    width: 500px;
    height: 210px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 4px 4px 6px #aaa;
}
div.page-header {
    margin-top: 20px;

}
.tip-box {
    float: right;
    position: relative;
}
.subtitle {
    margin-left: 20px;
}