<!DOCTYPE html>
<html>
    <head>
        <title>Query - 构建你需要的GA报告</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/main.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/base.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/clean.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/prettify.css" rel="stylesheet" type="text/css" />
        <link href="../static/css/multiselect.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="../static/js/prettify.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>GA Reporter<span class="subtitle"><small>Export GA Data from remote server.</small></span></h1>
                <h2>构建你需要的GA报告</h2>
            </div>
            <p>Token: {{results['token']}}</p>
            <div class="tip-box">
                <img class="img-box" src="../static/img/viewid.png" /></br>
            </div>
            <div class="form-group">
                <form role="form" method="POST" action="/query">
                    <label for="view_id">ViewID: (如图)</label>
                    <input type="text" name="view_id" class="form-control short-text-box" id="view_id" placeholder="输入View ID" />
                    <div class="select-date-div start-date">
                        <label for="datepicker-start">Start Date:</label> 
                        <input type="text" id="input-start-date" name="start"/>
                        <div id="datepicker-start" class="datepircker-container"></div>
                        <!-- input name="start" type="hidden" value=""/> -->
                    </div>
                    <div class="select-date-div end-date">
                        <label for="datepicker-end">End Date:</label>
                        <input type="text" id="input-end-date" name="end"/>
                        <div id="datepicker-end" class="datepircker-container"></div>
                        <!-- <input name="end" type="hidden" value=""/> -->
                    </div>
                    <div class="multiselect-div">
                        
                        <!-- <input type="text" name="metrics" class="form-control long-text-box" id="metrics" placeholder="输入metrics, 例如: ga:pageviews,ga:sessions" /> -->
                        <div class="multiselect-container" id="metrics-selected-div">
                            <label class="multiselect-label">Metrics:</label>
                            <select multiple="multiple" id="metrics-selected" name="metrics-selected">
                            </select>
                            <a href="javascript:void(0);" class="clear-all-btn" id="clear-metrics-btn">Clear Selected</a>
                            <input name="metrics" type="hidden" value=""/>
                        </div>
                        
                        <div class="multiselect-container" id="dimensions-selected-div">
                            <label class="multiselect-label">Dimensions:</label>
                            <select multiple="multiple" id="dimensions-selected" name="dimensions-selected">
                            </select>
                            <input name="dimensions" type="hidden" value=""/>
                            <a href="javascript:void(0);" class="clear-all-btn" id="clear-dimensions-btn">Clear Selected</a>
                        </div>
                    </div>
                    <!-- <input type="text" name="dimensions" class="form-control long-text-box" id="dimensions" placeholder="输入dimentions, 例如: ga:source,ga:medium"/> -->
                    <!-- <label for="filters">filter:</label> -->
                    <!-- <input type="text" name="filters" class="form-control long-text-box" id="filters" placeholder="输入filters" /> -->
                    <input type="submit" class="btn btn-default" value="提交" />
                    <table id="custom-metrics">
                        <thead>
                            <tr>
                                <th>Dimensions</th>
                                <th>Condition</th>
                                <th>Value</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="dimensions-td">
                                    <select>
                                        
                                    </select>
                                </td>
                                <td class="condition-td">
                                    <select>
                                        <option>Match</option>
                                        <option>Not Match</option>
                                    </select>
                                    <select>
                                        <option>Starts With</option>
                                        <option>Ends With</option>
                                        <option>Contains</option>
                                        <option>Match Regex</option>
                                    </select>
                                </td>
                                <td class="value-td"><input type="text" /></td>
                                <td class="action-td"><a href="javascript:void(0);" class="delete-btn">Delete</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><a href="javascript:void(0);" class="add-btn">Add</a></td>
                            </tr>
                        </tfoot>
                    </table>

            </div>
            {% for error in errors %}
            <h4>{{ error }}</h4>
            {% endfor %}

        <!-- Google Tag Manager -->
<!--         <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-7VF4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-7VF4');</script> -->
        <!-- End Google Tag Manager -->
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/datepicker.js"></script>
        <script type="text/javascript" src="../static/js/gajson.js"></script>
        <script type="text/javascript" src="../static/js/multiselect.js" ></script>
        <script type="text/javascript">
            //定义通过值获取所在位置方法
            Array.prototype.getIndexByValue= function (value) {
                var index = -1;
                for (var i = 0; i < this.length; i++)
                {
                    if (this[i] == value)
                    {
                        index = i;
                        break;
                    }
                }
                return index;
            }
            //定义删除当前位置的数组元素方法
            Array.prototype.remove=function (index)  {
                if (isNaN(index) || index > this.length){return false;}
                for (var i = 0, n = 0; i < this.length; i++)
                {
                    if(this[i] != this[index])
                    {
                        this[n++] = this[i];
                    }
                }
                this.length -= 1
            }
            //为10以下的日期和月份添加0
            function AppendZero(obj) {
                if (obj < 10) {return "0" + "" + obj;}
                else{ return obj;}
            }
            //将日期转换为ga支持的格式
            function ConvertDate(date) {
                return date.getFullYear() + "-" + AppendZero((date.getMonth() + 1)) + "-" + AppendZero(date.getDate());
            }
            //获取下拉框选项htmlstr方法
            function GetOptionsHTML(items) {
                    return;
            }
            $( function () {
                //为start&end text box 赋值当天的日期
                var today = new Date();
                $("#input-start-date").val(ConvertDate(today));
                $("#input-end-date").val(ConvertDate(today));
                $('#input-start-date').DatePicker({
                    mode: "single",
                    // inline: true,
                    position: "bottom",
                    onBeforeShow: function (element) {
                        if($("#input-start-date").val()){
                            $("#input-start-date").DatePickerSetDate($("#input-start-date").val(), true);
                        }
                },
                    onChange: function (date, element) {
                        $(element).val(ConvertDate(date));
                        $(element).DatePickerHide();
                    }
                });

                $('#input-end-date').DatePicker({
                    mode: "single",
                    // inline: true,
                    position: "bottom",
                    onBeforeShow: function (element) {
                        if($("#input-start-date").val()){
                            $("#input-start-date").DatePickerSetDate($("#input-start-date").val(), true);
                        }
                },
                    onChange: function (date, element) {
                        $(element).val(ConvertDate(date));
                        $(element).DatePickerHide();
                    }
                });

            //输出metric和dimension
                var gaJSONItems = gaJSON.items;
                var dimensionItems = [];
                var metricItems = [];
                
                //将gaJson中的items分拆成Metris和Dimensions两个数组
                $.each(gaJSONItems, function (index, item) {
                    if (item.attributes.type == "DIMENSION" && item.attributes.status == "PUBLIC"){
                        dimensionItems.push(item);
                    }else if(item.attributes.type == "METRIC" && item.attributes.status == "PUBLIC"){
                        metricItems.push(item);
                    }
                });
                $.each(metricItems.sort(function(a,b){return a.attributes.uiName.localeCompare(b.attributes.uiName)}), function (index, item) {
                    var id = item.id;
                    var uiName = item.attributes.uiName;
                    var checkBoxHtml = '<option value="'+ id + '">' + uiName + '</option>';
                    $("#metrics-selected").append(checkBoxHtml);
                    $("#custom-metrics").find(".metrics-td>select").append(checkBoxHtml);
                });
                $.each(dimensionItems.sort(function(a,b){return a.attributes.uiName.localeCompare(b.attributes.uiName)}), function (index, item) {
                    var id = item.id;
                    var uiName = item.attributes.uiName;
                    var checkBoxHtml = '<option value="'+ id + '">' + uiName + '</option>';
                    $("#dimensions-selected").append(checkBoxHtml);
                    $("#custom-metrics").find(".dimensions-td>select").append(checkBoxHtml);
                });
                //将选中的值存入数组并写入hidden input的value以便提交form
                var sltMtxs = [];
                var sltDims = [];
                $("#metrics-selected").multiSelect({
                    afterSelect: function (value) {
                        sltMtxs.push(value);
                        $('input[name="metrics"]').val(sltMtxs.join(","));
                    },
                    afterDeselect: function (value) {
                        var i = sltDims.getIndexByValue(value);
                        sltMtxs.remove(i);
                        $('input[name="metrics"]').val(sltMtxs.join(","));
                    }
                });
                $("#dimensions-selected").multiSelect({
                    afterSelect: function (value) {
                        sltDims.push(value);
                        $('input[name="dimensions"]').val(sltDims.join(","));
                    },
                    afterDeselect: function (value) {
                        var i = sltDims.getIndexByValue(value);
                        sltDims.remove(i);
                        $('input[name="dimensions"]').val(sltDims.join(","));
                    }
                });

                $("#clear-metrics-btn").click(function () {
                    $("#metrics-selected").multiSelect("deselect_all");
                    sltMtxs.length = 0;
                    $('input[name="metrics"]').val("");
                });

                $("#clear-dimensions-btn").click(function () {
                    $("#dimensions-selected").multiSelect("deselect_all");
                    sltDims.length = 0;
                    $('input[name="dimensions"]').val("");
                });

                $(".delete-btn").click(function () {
                    $(this).parent().parent().remove();
                });
                $(".add-btn").click(function () {
                    var firtRow = $("#custom-metrics tbody tr")[0];
                    $("#custom-metrics tbody").append($(firtRow).clone(true));
                });

            });
        </script>

    </body>
</html>