<!DOCTYPE html>
<html>
  <head>
    <title>Report - GA Reporter for Agency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://timdream.org/wordcloud2.js/src/wordcloud2.js"></script>
    <style>
      .container {
        max-width: 1000px;
        margin-left: 20%;
        margin-right: 20%;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="page-header">
            <h1>GA Reporter For Agency<small>Custermize Metric, and export GA Data from remote server.</small></h1>
          {% if results %}
          <h2>下载你的GA报告</h2>
          <a href="{{ results['file_path'] }}{{ results['xlsx_file'] }}">下载你的报告</a>
          {% endif %}
            {% for error in errors %}
            <h4>{{ error }}</h4>
          {% endfor %}
    </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-7VF4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-7VF4');</script>
    <!-- End Google Tag Manager -->

  </body>
</html>